# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# MySQL Configuration
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=user_activity_db
MYSQL_ROOT_PASSWORD=root_password
MYSQL_USER=root
MYSQL_PASSWORD=root_password

# Application Ports
PRODUCER_PORT=8000